:root {
  --bg: #02061F;
  --bg-dark: #010310;
  --bg-light: #060b29;
  --text: #E1F0FF;
  --text-muted: hsl(210, 50%, 84%);
  --highlight: #496297;
  --highlight-gradient: linear-gradient(to right, #8BDEDA, #43ADD0, #998EE0, #E17DC2, #EF9393);
  --danger: #FF383C;
}

* {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--bg);
  color: var(--text);
  position: relative;
  width: 100vw;
  height: 100vh;
}

.highlighted {
  background: var(--highlight-gradient);
  background-clip: text;
  color: transparent;
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-image: var(--highlight-gradient) 1;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.desktop {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.app {
  width: 100%;
  height: calc(100% - 2rem);
  backdrop-filter: blur(15px);
  background-color: color-mix(in srgb, var(--bg-light) 100%, transparent 50%);
}

.screenCover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: rgba(0,0,0,0.6);
  transition: 0.1s;
}

.openSettings {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: var(--bg-light);
  border: 3px solid var(--highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.openSettings img {
  height: 35px;
  width: auto;
}

.openSettings:hover {
  scale: 1.05;
  border-image: var(--highlight-gradient) 1;
  transition: 0.1s;
}

.openSettings:active {
  scale: 1.1;
  background: var(--highlight-gradient);
  transition: 0.1s;
}

.notesButtons {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  margin: 10px;
}

.notesButtons button img {
  height: 30px;
  width: auto;
}

.notesButtons button {
  padding: 5px 5px;
  margin: 5px;
  color: var(--text);
  background-color: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  border: 2px solid var(--highlight);
}

.notesButtons button:hover {
  border-image: var(--highlight-gradient) 1;
}

.notesButtons button:active {
  background: var(--highlight-gradient);
  transition: .5s;
}

.notesButtons .visible {
  background: var(--highlight-gradient);
}