.shortcutSection {
    width: 600px;
    height: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shortcutSection input {
    width: 600px;
    height: 3rem;
    font-size: 2rem;
    background-color: var(--bg-light);
    border: 5px solid var(--highlight);
    color: var(--text);
    padding: 7px;
    transition: 0.2s;
    outline: none;
    margin: 20px;
}

.shortcutSection input:focus {
    border-image: var(--highlight-gradient) 1;
    scale: 1.03;
    transition: 0.2s;
}

.shortcutSection .shortcutGrid {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 5px;
}

.shortcutSection img {
    height: 80%;
    width: 80%;
    object-fit: contain;
}

.shortcutSection a {
    margin: 5px;
    padding: 5px;
    width: 70px;
    height: 70px;
    background-color: var(--bg-light);
    border: 5px solid var(--highlight);
    color: var(--text);
    font-size: 2rem;
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shortcutSection a:hover {
    border-image: var(--highlight-gradient) 1;
    scale: 1.05;
    transition: .2s;
}

.shortcutSection a:active {
    background: var(--highlight-gradient);
    scale: 1.1;
    transition: .2s;
}

@media (max-width: 600px) {
    .shortcutSection {
        width: 400px;
    }

    .shortcutSection input {
        width: 300px;
        height: 2rem;
        font-size: 1.5rem;
    }

    .shortcutSection a {
        margin: 0;
        padding: 3px;
        width: 50px;
        height: 50px;
    }

    .shortcutSection .shortcutGrid {
        margin-left: 12px;
        gap: 3px;
    }
}